@media screen and  (min-width:500px){
    .footer{
        .secContent{
            .footerCard{
                .footerLinks{
                    grid-template-columns: repeat(3,1fr);
                    padding-bottom:1rem ;
                }

                .footerDiv{
                    justify-content: space-between;
                    flex-direction: row;

                    small{
                        font-size: 14px;
                        color: white;
                    }
                }
            }
        }
    }
}




@media screen and  (min-width:660px){
    .footer{
        .secContent{
            .contactDiv{
                flex-direction: row;
                justify-content: space-between;

                .inputDiv{
                   width: max-content;
                   flex-direction: row;
                   justify-content: flex-start;

                   input{
                    width: 60%;
                   }

                   .btn{
                    width: max-content;
                   }
                }
            }
        }
    }
}



@media screen and  (min-width:840px){
    .footer{
        padding: 5rem 0;
        .secContent{
            .footerCard{
               flex-direction: row;


               .footerLinks{
                grid-template-columns: repeat(3,1fr);
                padding-bottom:1rem ;
               }
            }
        }
    }
}



@media screen and  (min-width:1024px){
    .footer{
       .secContent{
        .footerCard{
            padding: 3rem 1rem;


            .footerIntro{
                .footerParagraf{
                    font-size: 15px;
                    color: rgb(81, 118, 136);
                }

                .footerSocials{
                    column-gap: .5rem;
                    .icon{
                        color: rgb(81, 118, 136);
                        font-size: 25px;
                        &:hover{
                            color: red;
                        }
                    }
                }
            }
            .footerLinks{
                .linkGroup{
                    .footerList{
                        font-size: 16px;
                        padding: 5px 0;
                    }

                }
            }
        }
       }
    }
}