@media screen and (min-width: 769px){
    .toogleNavbar, .closeNavbar{
      display: none;
  
    }
    .header{
        padding: 1.5rem 2rem;

        .navBar{
            .navLists{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;

                .navItem{
                   .navLink{
                    color: rgb(8, 8, 8);
                    padding: 0 0.45rem;
                    font-size: 0.9rem;
                    font-weight: 500;
                    &:hover{
                        color: grey;
                    }

                    
                   } 
                }
              .btn{
                margin-left: 1rem;
                a{
                    color: white;
                    font-weight: 500;
                }
              }  
            }
        }
    }
    
  }

@media screen and (min-width: 960px){
    .header{
        .navListes{
            .navItem{
                padding: 0 0.7rem;

            }
        }
    }

}
@media screen and (min-width: 1240px){
    .header{
       padding: 1rem 8.5rem;

    }

}