.main{
    width: 100%;

}
.secTitle,
.title{
    position: relative;
    width: max-content;
    color: rgb(88, 84, 84);
    margin: 1rem 0;
    z-index: 2;
}
.secContent{
  justify-content: center;
   gap: 1.5rem;
}
.singleDestination{
    height: 100%;
    display: grid;
    row-gap: 10px;
    padding: 1rem;
    align-items: center;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(140,140,141,0.549);
    overflow: hidden;   
}
.singleDestination:hover{
    box-shadow: 1 4px 4px rgba(85,85,114,0.549);
    transition: .3s ease;
}

.imageDiv{
    height: 180px;
    width: 100%;
    overflow: hidden;

}
.imageDiv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 2s ease;
    border-radius: 20px;
}
.imageDiv img:hover{
    transform: scale(1.1);
}
.cardInfo{
    padding: 1rem;
}
.destTitle{
    color: black;
    font-size: 1.25rem;

}
.continent{
    gap: .5rem;
}
.continent .icon{
    font-size: 18px;
    color: rgb(143, 156, 158);
}
.name{
    color: rgb(143, 156, 158);
    font-weight: 400;
    font-size: 14px;

}
.fees{
    width: 100%;
    justify-content: center;
    padding: 1rem;
    margin: 1rem 0;
    border-top: 1.5px solid rgba(85,85,114,0.549);
    border-bottom: 1.5px solid rgba(85,85,114,0.549);
}
.grade{
    color:rgb(143, 156, 158) ;
    max-width: 100px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
small{
    text-align: center;
    background-color: rgb(208, 221, 223);
    border-radius: 1rem;
    color: black;
    padding: 1px 10px;
    font-size: 10px;
}
.price{
    font-size: rem;
    color: black;

}
.desc{
    font-size:13.5px ;
    color: rgba(85,85,114,0.549);
    font-weight: 500;
}
.btn{
    margin-top: 1rem;
    color: white;
    font-weight: 600;
    justify-content: space-between;
    gap: .5rem;
}
.btn .icon{
    align-self: center;
    font-size: 18px;
}