@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  color: black;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.section{
  padding: 4rem 0 2rem;
}
.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.icon{
  font-size: 2rem;
  cursor: pointer;
}
.flex{
  display: flex;
  align-items: center;
}
.grid{
  display: grid;
  align-items: center;
}
.btn{
  padding: 1rem 1rem;
  background: rgb(54, 106, 116);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn a{
  color: white;
  font-weight: 500;
}
.btn:hover{
  background: rgb(51, 99, 99);
}
img, video {
  height: auto;
  width: 100%;
}

input{
  font-size: 100%;
}
body{
  background: whitesmoke;
}
